:root {
  --l-dark: 73, 64%, 4%;
  --l-light: 65, 65%, 97%;
  --l-primary: 69, 65%, 55%;
  --l-secondary: 124, 65%, 73%;
  --l-accent: 138, 66%, 62%;

  --d-dark: 66, 63%, 3%;
  --d-light: 74, 62%, 96%;
  --d-primary: 69, 65%, 45%;
  --d-secondary: 124, 65%, 27%;
  --d-accent: 138, 66%, 38%;
}

html[data-theme="light"] {
  --p-fg: var(--l-dark);
  --p-bg: var(--l-light);
  --p-primary: var(--l-primary);
  --p-primary-contrast: var(--l-dark);
  --p-secondary: var(--l-secondary);
  --p-secondary-contrast: var(--l-dark);
  --p-accent: var(--l-accent);
  --p-accent-contrast: var(--l-dark);
}

html[data-theme="dark"] {
  --p-fg: var(--d-light);
  --p-bg: var(--d-dark);
  --p-primary: var(--d-primary);
  --p-primary-contrast: var(--d-dark);
  --p-secondary: var(--d-secondary);
  --p-secondary-contrast: var(--d-light);
  --p-accent-contrast: var(--d-dark);
}

@media (prefers-color-scheme: dark) {
  html[data-theme="auto"] {
    --p-fg: var(--d-light);
    --p-bg: var(--d-dark);
    --p-primary: var(--d-primary);
    --p-primary-contrast: var(--d-dark);
    --p-secondary: var(--d-secondary);
    --p-secondary-contrast: var(--d-light);
    --p-accent-contrast: var(--d-dark);
  }
}

@media (prefers-color-scheme: light) {
  html[data-theme="auto"] {
    --p-fg: var(--l-dark);
    --p-bg: var(--l-light);
    --p-primary: var(--l-primary);
    --p-primary-contrast: var(--l-dark);
    --p-secondary: var(--l-secondary);
    --p-secondary-contrast: var(--l-dark);
    --p-accent: var(--l-accent);
    --p-accent-contrast: var(--l-dark);
  }
}